In [1]:
import pandas as pd

In [2]:
food_info = pd.DataFrame(
    data = {'food': ['Pad Thai','Pizza','Burger','Boba'],
           'restaurant':['Imm Thai','Blondies','Super Duper','Feng Cha'],
           'price':[16.00,20.50,13.00,8.00]}
)
food_info

       food   restaurant  price
0  Pad Thai     Imm Thai   16.0
1     Pizza     Blondies   20.5
2    Burger  Super Duper   13.0
3      Boba     Feng Cha    8.0

In [ ]:
#loc practice

#(1) get rows 1 and 3 and column 'food'
#(2) get rows 1 and 2 and column 'food' and 'restaurant'
#(3) get rows 0 thru 2 (inclusive) and columns 'food' thru 'price'
#(4) get rows 2 thru 3 (inclusive) and columns 'restaurant' and 'price'

In [ ]:
#im a survivor
titanic['Survived'].value_counts()[1]/sum(titanic['Survived'].value_counts(1))

In [ ]:
titanic['Survived'].value_counts()[1]

In [ ]:
titanic.sort_values(by=['Name'],ascending=False)