In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [5]:
# Creating a Dataframe

# Using Numpy arrays
df1 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),columns=['a','b','c'])
df1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
# Using a Dictionary
datadict = {'fruits':['apple','banana','mango','rambutan'],
           'colors': ['purple','orange','yellow','red'],
           'planets':['mercury','venus','uranus','neptune']}

df2=pd.DataFrame(datadict)
df2

     fruits  colors  planets
0     apple  purple  mercury
1    banana  orange    venus
2     mango  yellow   uranus
3  rambutan     red  neptune

In [9]:
# Creating a DataFrame from existing data
dftt = pd.read_csv(titanic_data.csv)
dftt

NameError: name 'titanic_data' is not defined