In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
# Creating a Dataframe

# Using Numpy arrays
df1 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),columns=['a','b','c'])
df1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
# Using a Dictionary
datadict = {'fruits':['apple','banana','mango','rambutan'],
           'colors': ['purple','orange','yellow','red'],
           'planets':['mercury','venus','uranus','neptune']}

df2=pd.DataFrame(datadict)
df2

     fruits  colors  planets
0     apple  purple  mercury
1    banana  orange    venus
2     mango  yellow   uranus
3  rambutan     red  neptune

In [4]:
# Creating a DataFrame from existing data
dftt = pd.read_csv('titanic_data.csv')
dftt

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
anes96 = sm.DataSet(anes96)

AttributeError: module 'pandas' has no attribute 'DataSet'

In [7]:
plop = pd.read_csv('COMBO17.csv')
plop

,Nr,Rmag,e.Rmag,ApDRmag,mumax,Mcz,e.Mcz,MCzml,chi2red,UjMAG,...,UFS,e.UFS,BFS,e.BFS,VFD,e.VFD,RFS,e.RFS,IFD,e.IFD
0,6,24.995,0.097,0.935,24.214,0.832,0.036,1.400,0.64,-17.67,...,0.01870,0.00239,0.01630,0.001290,0.017300,0.00141,0.01650,0.000434,0.02470,0.00483
1,9,25.013,0.181,-0.135,25.303,0.927,0.122,0.864,0.41,-18.28,...,0.00706,0.00238,0.00420,0.001150,0.003930,0.00182,0.00723,0.000500,0.00973,0.00460
2,16,24.246,0.054,0.821,23.511,1.202,0.037,1.217,0.92,-19.75,...,0.01260,0.00184,0.01830,0.001150,0.018800,0.00167,0.02880,0.000655,0.05700,0.00465
3,21,25.203,0.128,0.639,24.948,0.912,0.177,0.776,0.39,-17.83,...,0.01410,0.00186,0.01180,0.001100,0.009670,0.00204,0.01050,0.000416,0.01340,0.00330
4,26,25.504,0.112,-1.588,24.934,0.848,0.067,1.330,1.45,-17.69,...,0.00514,0.00170,0.00102,0.001270,0.000039,0.00160,0.00139,0.000499,0.00590,0.00444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457,9990,24.962,0.186,-0.113,25.189,0.960,0.190,0.951,0.89,-18.21,...,0.00643,0.00170,0.00361,0.001150,0.004890,0.00147,0.00625,0.000413,0.00987,0.00323
3458,9992,21.918,0.017,-0.562,23.063,0.770,0.031,0.766,0.90,-20.47,...,0.03700,0.00218,0.04500,0.001310,0.051300,0.00173,0.07210,0.000542,0.10200,0.00477
3459,9995,23.701,0.051,-0.437,24.053,0.775,0.121,1.330,0.60,-18.76,...,0.02050,0.00223,0.01850,0.001090,0.014500,0.00182,0.01580,0.000468,0.01860,0.00484
3460,9996,23.473,0.098,-1.114,25.075,0.926,0.087,0.870,1.01,-19.67,...,0.01150,0.00225,0.00809,0.001190,0.011400,0.00166,0.01070,0.000454,0.01930,0.00390
3461,9997,25.621,0.298,-0.224,25.488,0.968,0.139,0.957,1.13,-17.70,...,0.00387,0.00165,0.00315,0.000949,0.002470,0.00131,0.00317,0.000426,0.00746,0.00415