In [71]:
# 1 Curve Fitting Guided Problem

In [72]:
import pandas as pd

In [73]:
landtemps = pd.read_csv('GlobalLandTemperaturesByState.csv')
landtemps

,dt,AverageTemperature,AverageTemperatureUncertainty,State,Country
0,1855-05-01,25.544,1.171,Acre,Brazil
1,1855-06-01,24.228,1.103,Acre,Brazil
2,1855-07-01,24.371,1.044,Acre,Brazil
3,1855-08-01,25.427,1.073,Acre,Brazil
4,1855-09-01,25.675,1.014,Acre,Brazil
...,...,...,...,...,...
645670,2013-05-01,21.634,0.578,Zhejiang,China
645671,2013-06-01,24.679,0.596,Zhejiang,China
645672,2013-07-01,29.272,1.340,Zhejiang,China
645673,2013-08-01,29.202,0.869,Zhejiang,China
645674,2013-09-01,NaN,NaN,Zhejiang,China

In [74]:
column_headers = list(landtemps.columns.values)
print("The Column Header :", column_headers) #just checking column names (didnt need to LOL)

The Column Header : ['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'State', 'Country']

In [75]:
# 1a
pt1 = landtemps[['dt','AverageTemperature','State']]
pt1

                dt  AverageTemperature     State
0       1855-05-01              25.544      Acre
1       1855-06-01              24.228      Acre
2       1855-07-01              24.371      Acre
3       1855-08-01              25.427      Acre
4       1855-09-01              25.675      Acre
...            ...                 ...       ...
645670  2013-05-01              21.634  Zhejiang
645671  2013-06-01              24.679  Zhejiang
645672  2013-07-01              29.272  Zhejiang
645673  2013-08-01              29.202  Zhejiang
645674  2013-09-01                 NaN  Zhejiang

[645675 rows x 3 columns]

In [76]:
seek = pt1.loc[pt1['dt'] == '2001-01-01']
seek
#https://www.statology.org/pandas-select-rows-based-on-column-values/

                dt  AverageTemperature       State
1748    2001-01-01              25.743        Acre
4987    2001-01-01               1.740      Adygey
7305    2001-01-01             -29.319  Aga Buryat
10544   2001-01-01               5.358     Alabama
12725   2001-01-01              26.537     Alagoas
...            ...                 ...         ...
636636  2001-01-01              -6.512  Yaroslavl'
638849  2001-01-01             -23.852      Yevrey
641078  2001-01-01             -16.147       Yukon
643449  2001-01-01               9.732      Yunnan
645522  2001-01-01               6.848    Zhejiang

[241 rows x 3 columns]

In [77]:
# import datetime as dt
# pt1['dt'] = pd.to_datetime(pt1['dt'])

# # include = pt1[pt1['dt'].dt.year >= 2000]
# # exclude = pt1[pt1['dt'].dt.year != year]

# pt2=pt1['2001-01-01' : '2013-09-01']
# pt2

# #https://stackoverflow.com/questions/46878156/pandas-filter-dataframe-rows-with-a-specific-year
# #i dont know what im doing wrong :(

In [78]:
pt1.set_index("State",
            inplace = True)
 
# Using the operator .loc[]
# to select multiple rows
pt3 = pt1.loc[["Wyoming", "Nebraska","South Dakota"]]
pt3

#https://www.geeksforgeeks.org/select-rows-columns-by-name-or-index-in-pandas-dataframe-using-loc-iloc/

                      dt  AverageTemperature
State
Wyoming       1775-01-01              -4.979
Wyoming       1775-02-01              -2.049
Wyoming       1775-03-01               1.495
Wyoming       1775-04-01               3.561
Wyoming       1775-05-01               9.629
...                  ...                 ...
South Dakota  2013-05-01              13.795
South Dakota  2013-06-01              19.085
South Dakota  2013-07-01              22.649
South Dakota  2013-08-01              22.501
South Dakota  2013-09-01              20.001

[8747 rows x 2 columns]

In [79]:
#1b
pt4 = pt3.groupby('AverageTemperature').mean()
pt4

TypeError: agg function failed [how->mean,dtype->object]